* {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

#waybar {
    /*background-color: rgba(36, 40, 59, 0.9);*/
    /*border-radius: 0 0 16px 16px;*/
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: none;
    /*border-bottom: 1px solid #24283b;*/
    padding: 4px 10px;
    margin: 5px;
}

#clock,
#network,
#pulseaudio,
#cpu,
#memory,
#backlight,
#custom-sunset,
#custom-playerctl,
#sway-language,
#temperature {
    padding: 8px 10px;
    color: white;
}

#clock {
    font-weight: 600;
    font-size: 12px;
}

#window {
    padding: 5px 5px;
    font-weight: 600;
}

#battery,
#bluetooth,
#pulseaudio,
#backlight,
#custom-sunset,
#sway-language
{
    color: white;
    background: transparent;
    border-radius: 15px;
    margin: 0 8px;
    margin-top: -2px;
    padding: 2px;
    font-size: 16px;
}

#language {
    font-size: 15px;
}

#pulseaudio {
    margin-top: 0px;
    font-size: 16px;
}

#tray {
    margin: 0 8px;
    margin-right: 0;
    margin-top: -2px;
}

#custom-launcher {
    color: white;
    padding: 0 20px 0 13px;
    font-size: 23px;
}

#custom-text {
    padding-left: 1px;
    font-weight: 600;
}

#custom-texttwo,
#custom-textthree,
#custom-textfour,
#custom-textfive {
    font-size: 13px;
    padding-left: 20px;
    color: white;
}

#image.ethernetart {
    color: white;
}
