layout {

    focus-ring {
        active-color   "#1e9177"
        inactive-color "#081512"
        urgent-color   "#933636"
    }

    border {
        active-color   "#1e9177"
        inactive-color "#081512"
        urgent-color   "#933636"
    }

    shadow {
        color "#040a0970"
    }

    tab-indicator {
        active-color   "#1e9177"
        inactive-color "#074537"
        urgent-color   "#933636"
    }

    insert-hint {
        color "#1e917780"
    }
}

recent-windows {
    highlight {
        active-color "#1e9177"
        urgent-color "#933636"
    }
}
