@use "css/theme.scss";

$summaryFsz: 16px;
$bodyFsz: 12px;
$radius: 8px;
$separatorVH: 8px;
$notificationMargin: 2px;

.NotificationsWindow {
  background-color: transparent;
  padding: 12px;
  min-height: 0px;
  margin-top: 24px;
}

.notification-box {
  * {
    background-color: transparent;
    color: transparent;
    min-height: 0px;
  }
}

.Notification {
  margin: $notificationMargin;
  padding: 12px;
  border-radius: $radius;
  border: 1px solid transparent;

  min-width: 300px;

  .header {
    margin-bottom: 4px;

    * {
      color: white;
      font-size: 12px;
      font-weight: lighter;
    }

    .app-name {
      opacity: 0.4;
      padding-top: 4px;
    }

    .time {
      opacity: 0.4;
      padding-top: 4px;
    }

    .close {
      font-family: Material;
      border: none;
      padding: 4px 2px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 0px;
      margin-left: 6px;
    }
  }

  .separator {
    min-height: $separatorVH;
  }

  .image-container {
    max-height: 50px;
    max-width: 50px;
    overflow: hidden;
  }

  .image {
    min-height: 50px;
    min-width: 50px;
    margin-right: 8px;
  }

  .summary {
    font-size: $summaryFsz;
    font-weight: normal;
    margin-top: 8px;
  }

  .body {
    font-size: $bodyFsz;
    line-height: $bodyFsz * 1.5;
    font-weight: lighter;
  }
}

@mixin themed($themeName) {
  @include theme.apply-theme($themeName) using ($theme) {
    .Notification {
      background-color: theme.themed($theme, bg);
      border-color: theme.themed($theme, border);

      .header {
        * {
          color: theme.themed($theme, fg);
        }

        .close:hover {
          background-color: theme.themed($theme, bg);
        }
      }

      .summary {
        color: theme.themed($theme, fg);
      }

      .body {
        color: theme.themed($theme, fg);
      }
    }
  }
}

.dark-theme {
  @include themed(dark)
}

.light-theme {
  @include themed(light)
}
