@use "css/variables.scss";

window.OSD {
  box.OSD {
    border-radius: 8px;
    background-color: variables.$bg;
    margin: 20px;
    padding: 20px;
    // box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, .4);
  }

  image {
    // font-size: 64px;
    padding-right: 8px;
  }

  label {
    font-size: 24px;
  }

  levelbar {
    trough {
      margin: 4px;
    }

    block {
      min-height: 3px;
    }
  }
}
