$bg: #2C2C33;
$fg: #f1f1f1;
$accent: #378DF7;
$radius: 7px;

// $bg: #232136;
$surface: #2a273f;
$overlay: #393552;
$subtle: #908caa;
$text: #e0def4;


$STRAWBERRY_100: #FF9262;
$STRAWBERRY_300: #FF793E;
$STRAWBERRY_500: #F15D22;
$STRAWBERRY_700: #CF3B00;
$STRAWBERRY_900: #AC1800;
$ORANGE_100: #FFDB91;
$ORANGE_300: #FFCA40;
$ORANGE_500: #FAA41A;
$ORANGE_700: #DE8800;
$ORANGE_900: #C26C00;
$BANANA_100: #FFFFA8;
$BANANA_300: #FFFA7D;
$BANANA_500: #FFCE51;
$BANANA_700: #D1A023;
$BANANA_900: #A27100;
$LIME_100: #A2F3BE;
$LIME_300: #8ADBA6;
$LIME_500: #73C48F;
$LIME_700: #479863;
$LIME_900: #1C6D38;
$BLUEBERRY_100: #94A6FF;
$BLUEBERRY_300: #6A7CE0;
$BLUEBERRY_500: #3F51B5;
$BLUEBERRY_700: #213397;
$BLUEBERRY_900: #031579;
$GRAPE_100: #D25DE6;
$GRAPE_300: #B84ACB;
$GRAPE_500: #9C27B0;
$GRAPE_700: #830E97;
$GRAPE_900: #6A007E;
$COCOA_100: #9F9792;
$COCOA_300: #7B736E;
$COCOA_500: #574F4A;
$COCOA_700: #463E39;
$COCOA_900: #342C27;
$SILVER_100: #EEE;
$SILVER_300: #CCC;
$SILVER_500: #AAA;
$SILVER_700: #888;
$SILVER_900: #666;
$SLATE_100: #888;
$SLATE_300: #666;
$SLATE_500: #444;
$SLATE_700: #222;
$SLATE_900: #111;
$BLACK_100: #474341;
$BLACK_300: #403C3A;
$BLACK_500: #393634;
$BLACK_700: #33302F;
$BLACK_900: #2B2928;
$blue_1: #99c1f1;
$blue_2: #62a0ea;
$blue_3: #3584e4;
$blue_4: #1c71d8;
$blue_5: #1a5fb4;
$green_1: #8ff0a4;
$green_2: #57e389;
$green_3: #33d17a;
$green_4: #2ec27e;
$green_5: #26a269;
$yellow_1: #f9f06b;
$yellow_2: #f8e45c;
$yellow_3: #f6d32d;
$yellow_4: #f5c211;
$yellow_5: #e5a50a;
$orange_1: #ffbe6f;
$orange_2: #ffa348;
$orange_3: #ff7800;
$orange_4: #e66100;
$orange_5: #c64600;
$red_1: #f66151;
$red_2: #ed333b;
$red_3: #e01b24;
$red_4: #c01c28;
$red_5: #a51d2d;
$purple_1: #dc8add;
$purple_2: #c061cb;
$purple_3: #9141ac;
$purple_4: #813d9c;
$purple_5: #613583;
$brown_1: #cdab8f;
$brown_2: #b5835a;
$brown_3: #986a44;
$brown_4: #865e3c;
$brown_5: #63452c;
$light_1: #ffffff;
$light_2: #f6f5f4;
$light_3: #deddda;
$light_4: #c0bfbc;
$light_5: #9a9996;
$dark_1: #77767b;
$dark_2: #5e5c64;
$dark_3: #3d3846;
$dark_4: #241f31;
$dark_5: #000000;

$theme_fg_color: #e9e9ed;
/* text color for entries, views and content in general */
$theme_text_color: #e9e9ed;
/* widget base background color */
$theme_bg_color: #1a1b26;
/* text widgets and the like base background color */
$theme_base_color: #323449;
/* base background color of selections */
$theme_selected_bg_color: #27a1b9;
/* text/foreground color of selections */
$theme_selected_fg_color: #e9e9ed;
/* base background color of insensitive widgets */
$insensitive_bg_color: #1a1b26;
/* text foreground color of insensitive widgets */
$insensitive_fg_color: rgba(233, 233, 237, 0.5);
/* insensitive text widgets and the like base background color */
$insensitive_base_color: #323449;
/* widget text/foreground color on backdrop windows */
$theme_unfocused_fg_color: #e9e9ed;
/* text color for entries, views and content in general on backdrop windows */
$theme_unfocused_text_color: #e9e9ed;
/* widget base background color on backdrop windows */
$theme_unfocused_bg_color: #1a1b26;
/* text widgets and the like base background color on backdrop windows */
$theme_unfocused_base_color: #323449;
/* base background color of selections on backdrop windows */
$theme_unfocused_selected_bg_color: #27a1b9;
/* text/foreground color of selections on backdrop windows */
$theme_unfocused_selected_fg_color: #e9e9ed;
/* insensitive color on backdrop windows */
$unfocused_insensitive_color: rgba(233, 233, 237, 0.5);
/* widgets main borders color */
$borders: rgba(233, 233, 237, 0.12);
/* widgets main borders color on backdrop windows */
$unfocused_borders: rgba(233, 233, 237, 0.12);

/* these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
$wm_focused_title: #e9e9ed;
$wm_unfocused_title: rgba(233, 233, 237, 0.7);
$wm_highlight: rgba(233, 233, 237, 0.1);
$wm_border: #0a0a0f;
$wm_focused_bg: #1a1b26;
$wm_unfocused_bg: #1a1b26;
$wm_button_icon: #e9e9ed;
$wm_button_focused_bg: #262732;
$wm_button_unfocused_bg: #262732;
$wm_button_hover_fg: rgba(26, 27, 38, 0.87);
$wm_button_active_fg: rgba(26, 27, 38, 0.87);
$wm_button_hover_bg: #e1e2e7;
$wm_button_active_bg: #e2e3e8;
/* FIXME this is really an API */
$content_view_bg: #323449;
$placeholder_text_color: #b2b3bc;
/* Very contrasty background for text views (@theme_text_color foreground) */
$text_view_bg: #323449;
$budgie_tasklist_indicator_color: rgba(117, 117, 125, 0.7);
$budgie_tasklist_indicator_color_active: #27a1b9;
$budgie_tasklist_indicator_color_active_window: rgba(36, 125, 146, 0.816);
$budgie_tasklist_indicator_color_attention: #8c6c3e;
